Repository ioprodz/ioprodz, pull requests merged in 2022-10, with the labels that each got.

#4 doc(project): added documentation
  CONTRIBUTING.md
  README.md
Labels: documentation

#10 feat(icosium): basic landing page
  .gitignore
  icosium/public/android-chrome-192x192.png
  icosium/public/android-chrome-384x384.png
  icosium/public/apple-touch-icon.png
  icosium/public/browserconfig.xml
  icosium/public/favicon-16x16.png
  icosium/public/favicon-32x32.png
  icosium/public/favicon.ico
  icosium/public/logo192.png
  icosium/public/logo512.png
  icosium/public/manifest.json
  icosium/public/mstile-150x150.png
  icosium/public/safari-pinned-tab.svg
  icosium/src/assets/hero-background.webp
  icosium/src/assets/logo-rectangle.webp
  icosium/src/assets/logo.png
  icosium/src/screens/LandingPage/discord.jsx
  icosium/src/screens/LandingPage/facebook.jsx
  icosium/src/screens/LandingPage/github.jsx
  icosium/src/screens/LandingPage/index.tsx
  icosium/src/screens/LandingPage/youtube.jsx
Labels: icosium, feature

#13 chore(icosium): links clickable and title
  icosium/public/index.html
  icosium/src/screens/LandingPage/index.tsx
Labels: icosium, tech

#8 Backend Setup #6
  .gitignore
  hoggar/.env.example
  hoggar/.gitignore
  hoggar/package.json
  hoggar/src/config.ts
  hoggar/src/index.ts
  hoggar/tsconfig.json
  icosium/public/index.html
  icosium/src/index.tsx
  package.json
  yarn.lock
Labels: tech, hoggar

#16 5 setup routing on icosium
  icosium/src/App.tsx
  icosium/src/Routes.tsx
  icosium/src/screens/Auth/index.tsx
  icosium/src/screens/Error/index.tsx
  package.json
  yarn.lock
Labels: icosium, feature

#17 chore(hoggar): added git workflow
  .github/workflows/ci.yaml
Labels: icosium, tech, hoggar

#18 9 use prisma orm
  .gitignore
  hoggar/.env.example
  hoggar/.gitignore
  hoggar/package.json
  hoggar/prisma/migrations/20221024162855_initial/migration.sql
  hoggar/prisma/migrations/20221024171615_add_subscription_model/migration.sql
  hoggar/prisma/migrations/migration_lock.toml
  hoggar/prisma/schema.prisma
  hoggar/services/addSubscription.ts
  hoggar/services/index.ts
  hoggar/src/index.ts
  icosium/.gitignore
  icosium/yarn.lock
  package.json
  yarn.lock
Labels: tech, hoggar, feature

#24 optin form
  hoggar/prisma/migrations/20221025165944_add_source_sub_model/migration.sql
  hoggar/prisma/schema.prisma
  hoggar/services/addSubscription.ts
  hoggar/src/index.ts
  package.json
Labels: enhancement, tech, hoggar

#30 add lint
  .eslintrc.json
  .github/workflows/ci.yaml
  hoggar/services/addSubscription.ts
  hoggar/services/index.ts
  package.json
  yarn.lock
Labels: icosium, tech, hoggar, feature
